version: 2
renderer: networkd
ethernets:
  # External/Internet interface (DHCP) - Primary internet access
  ens18:
    dhcp4: true
    dhcp4-overrides:
      route-metric: 100
  # Infra zone interface (10.30.0.11/24)
  ens19:
    addresses:
      - 10.30.0.11/24
    dhcp4: false
    routes:
      - to: 10.30.0.0/24
        via: 10.30.0.1
        metric: 200
