version: 2
renderer: networkd
ethernets:
%{ for idx, device in vm_network_devices ~}
  # Interface ${idx + 1} (${device.bridge} network)
  ens${18 + idx}:
%{ if device.ip != null ~}
    addresses:
      - ${device.ip}
    dhcp4: false
%{ else ~}
    dhcp4: true
%{ endif ~}
%{ endfor ~}