version: 2
renderer: networkd
ethernets:
  # Dev zone interface (10.10.0.102/24)
  ens18:
    addresses:
      - 10.10.0.102/24
    gateway4: 10.10.0.1
    nameservers:
      addresses: [8.8.8.8, 8.8.4.4]
      search: [local]
    dhcp4: false
