version: 2
renderer: networkd
ethernets:
%{ for idx, device in vm_network_devices ~}
  # Interface ${idx + 1} (${device.bridge} network)
  ens${18 + idx}:
%{ if device.ip != null ~}
    addresses:
      - ${device.ip}/24
    gateway4: 10.10.0.1
    nameservers:
      addresses: [8.8.8.8, 8.8.4.4]
      search: [local]
    dhcp4: false
%{ else ~}
    dhcp4: true
%{ endif ~}
%{ endfor ~}
